.setup {
    background-color: rgb(190, 139, 43);

}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(245,222,179); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgb(245,222,179);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.topright {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
  }

table {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border-collapse: collapse;
    width: 100%;
    color: black; 
    background-color: rgb(245,222,179);  
    border: 80; 
  }

td, tr {
    border: 0px solid rgb(133, 223, 16);
    text-align: left;
    padding: 20px;
  }




  